.modal {
  z-index: 10000;
  background-color: white;
  position: fixed;
  margin: 0 auto;
  left: 0;
  opacity: 1;
  right: 0;
  width: 600px;
    margin: 30px auto;
    padding: 50px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    opacity: 0.5;
    display: none;
}

.modal__header {
  border-bottom: solid rgb(233, 236, 239) 1px;
  padding: 5px;
}

.modal--visible {
  display: block;
}

.modal--hidden {
  display: none;
}

.modal__close-button {
  float: right;
  opacity: 0.5;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  text-decoration: none;
  padding: 0;
  background-color: transparent;
  border: 0;
  font-size: 32px;
}
