.btn {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.3s;
  min-width: 56px;
  height: 36px;
}

.btn:hover:enabled {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.btn:active {
  transform: scale(0.8);
}

.btn:disabled {
  cursor: not-allowed;
  box-shadow: 0;
  background-color: lightgray;
  color: black;
}

.btn:focus{
  outline: 0;
}

.btn--large {
  min-width: 106px;
  height: 56px;
}

.btn--round {
  border-radius: 100%;
}