.nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.nav__item {
  text-decoration: none;
  margin: 0 20px;
  color: black;
  cursor: pointer;
}

.nav__item:hover, .nav__item--selected {
  color: blue;
  border-bottom: solid;
}

@media screen and (max-width:500px) {
  .nav {
    display: inline-flex;
    flex-direction: column;
  }
}