.container {
    position: relative;
    box-sizing: border-box;
    background: white;
    max-width: 1440px;
    width: 100%;
    padding: 15px 30px;
    margin: 0 auto;
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
 /*   justify-content: space-around;*/
}
.container > * {
    margin: 10px;
}
@media screen and (max-width:500px) {
    .container {
        flex-direction: column;        
    }
}