.input {
    outline: 0;
    border-width: thin;
    margin: 0;
    padding: 6px 0 7px;
    background-color: rgb(238, 238, 238);    
    border-bottom: solid gray thin;
}

.input:hover:enabled, .input:focus:enabled, .input:active:enabled {
    border-bottom-color: blue;
}

.input:disabled {
    cursor: not-allowed;
    background-color: lightgray;
}

.input.input--invalid, .input.input--invalid:focus, .input.input--invalid:active, .input.input--invalid:hover {
    border-bottom: solid red thin;
 /*   background-color: lightcoral;*/
    color: red;
}