.textarea {
    outline: 0;
    border-width: thin;
    margin: 0;
    padding: 6px 0 7px;
    background-color: rgb(238, 238, 238);    
    border-bottom: solid gray thin;
    resize: none;
}


textarea:hover:enabled, .textarea:focus:enabled, .textarea:active:enabled {
    border-bottom-color: blue;
}

.textarea:disabled {
    cursor: not-allowed;
    background-color: lightgray;
}

.textarea.textarea--invalid, .textarea.textarea--invalid:focus, .textarea.textarea--invalid:active, .textarea.textarea--invalid:hover {
    border-bottom: solid red thin;
 /*   background-color: lightcoral;*/
    color: red;
}
