.dropdown {
position: relative;
}

.dropdown__caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    display: none;
    opacity: 1;
    background-color: white;
}